@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');

html {
    font-family: 'Raleway';
}
table.table-hover {
    margin-left: 5%;
    margin-right: 5%;
    
}
.progressbar {
    padding-top: 10px;
    padding-bottom: 30px;
}
.col-6.col-sm-4 {
    padding-top: 10px;
    padding-bottom: 30px;
}
.global {
    margin-left: 5%;
    margin-right: 5%;
}