@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');

html {
    font-family: 'Raleway';
}
table.table-hover {
    margin-left: 5%;
    margin-right: 5%;
    
}
.progressbar {
    padding-top: 30px;
    padding-bottom: 30px;
}